import { Data, Article } from "../../types/interfaces";

export interface Input {
  articles: Data<Article>[];
}

<div.articles>
    <div uk-grid class="uk-grid-small uk-child-width-1-3">
        <for|article| of=input.articles>
            <card model=article />
        </for>
    </div>
</div>