export interface Input {
  articles: any[];
}

<div.articles>
    <div uk-grid class="uk-grid-small uk-child-width-1-3">
        <for|article| of=input.articles>
            <card model=article />
        </for>
    </div>
</div>