<nav class="nav">
    <span.nav-brand>
        <a class="uk-link-reset" href="/">
            <img src="../../public/logo.svg" alt="Marko" class="logo">
        </a>
    </span>
    <ul.nav-menu>
        <for|category| of=state.categories>
            $ const { attributes } = category;
            <li.nav-item>
                <a href=`/category/${attributes.slug}`>${attributes.name}</a>
            </li>
        </for>
    </ul>
</nav>