<nav.nav>
    <span.nav-brand><img src="../../public/logo.svg" alt="Marko" class="logo"></span>
    <ul.nav-menu>
        <li.nav-item>
            <a href="/">Home</a>
        </li>
        <li.nav-item>
            <a href="/">About</a>
        </li>
        <li.nav-item>
            <a href="/">Contact</a>
        </li>
    </ul>
</nav>